<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
    document.addEventListener("DOMContentLoaded", initMapAll);
</script>
<% end %>

<h3 class="fancy-font" style="font-size: 22px;">New Message</h3>

<%= render 'form', message: @message %>




<%= link_to '🔙', user_messages_path, class:"go-back" %>
