@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.btn {
  font-family: Pacifico;
}

div.flash_msg {
  z-index: 999;
  position: fixed;
  right: 1rem;
  margin-top: 1rem;
  background-color: #d4eddaf5 !important;
}

div.checkin-box {
  display: block;
  width: 100%;
  margin: 10px 0;

}

div.newmsg-box {
  position: fixed;
  bottom: 0;

  display: block;
  width: 100%;
  margin: 10px 0;
}

.newmsg-box a {

  display: inline-block;
  width: 23%;
  background-color: #1E6583 !important;
  border-color: #1E6583

}

.checkin-box input[type=submit] {
  width: 100%;
  background-color: #7D2F36 !important;
  border-color: #7D2F36

}

#map {
  width: 600px;
  height: 400px;
}
#map2 {
    width: 600px;
    height: 400px;
}

#map-all {
  width: 100%;
  height: calc(100vh - 56px);
}
