@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-color: #F7F7F7;
  color: #36393F;
}

a {
  color: #1E6583;
}

.fancy-font {
  font-family: Pacifico;
  font-size: 18px;
}

.navbar {
  background-color: #F7F7F7;
}

.navbar-brand {
  font-family: Pacifico;
  font-size: 30px;
}

div.map-viewport {
  padding-right: 0px;
  padding-left: 0px
}

div.flash_msg {
  z-index: 999;
  position: fixed;
  right: 1rem;
  margin-top: 1rem;
  background-color: #d4eddaf5 !important;
}

div.checkin-box, div.newmsg-box {
  display: block;
  width: 100%;
  margin: 0 0 15px;

}

div.top_of_sidebar {
  margin-bottom: 15px;
}

div.middle_of_sidebar {
  height: calc(90vh - 260px);
}

a.go-back {
  margin-top: 20px;
  display: block;
  font-size: 2.5rem;
}

a:hover.go-back {
  text-decoration: none;
}

.top_of_sidebar .card {
  margin-bottom: 15px;
}


button.saved_messages {
  color: #5d5d5d;
}

.unread_msgs_count button {
  width: 100%;
}

.trash-pad {
  padding: 10px;
  color: #5d5d5d;
}

div.hidden {
  display: none;
}

.newmsg-box a {
  display: block;
  background-color: #1E6583 !important;
  border-color: #1E6583
}

.checkin-box input[type=submit] {
  width: 100%;
  background-color: #7D2F36 !important;
  border-color: #7D2F36
}

#ui {
  background-color: #F7F7F7;
  margin-top: 15px;
  }

#map-all {
  width: 100%;
  height: calc(100vh - 56px);
}

#sign-in-btn {
  background-color: #7D2F36 !important;
  border-color: #7D2F36
}

#send {
  background-color: #1E6583 !important;
  border-color: #1E6583
}

#legend {
  font-family: Helvetica, sans-serif;
  padding: 10px 10px 0;
  margin: 10px;

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  // width: 140px;
  // height: 140px;
  position: absolute;
  left: 0px;
  bottom: 0px;


}

#legend div {
  margin-bottom: 10px;

}

#legend h5 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
  height: 30px;
}

    //
    // background-color: rgb(255, 255, 255);
    // box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    // border-radius: 2px;
    // width: 40px;
    // height: 40px;
    // position: absolute;
    // left: 0px;
    // top: 0px;
